@model WebCongNghe.Models.Entities.SanPham
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var p = ViewBag.p;
    var similarProducts = ViewBag.similarProducts;
    Products product = new Products();
    var PopularityProducts = ViewBag.PopularityProducts;
    List<String> listColor = ViewBag.listColor;
    var NumberOfProductOfTheSameName = ViewBag.NumberOfProductOfTheSameName;
}
 <!-- nội dung của trang  -->
    <section class="product-page mb-4">
        <div class="container">
            <!-- chi tiết 1 sản phẩm -->
            <div class="product-detail bg-white p-4">
                <div class="row">
                    <!-- ảnh  -->
                    <div class="col-md-5 khoianh">
                        <div class="anhto mb-4">
                            <a class="active" href="#" data-fancybox="thumb-img">
                                <img class="product-image" src="@Url.Content(p.Anh1)" alt="img" style="width: 425px; height:425px;">
                            </a>
                            <a href="@Url.Content(p.Anh1)" data-fancybox="thumb-img"></a>
                        </div>
                        <div class="list-anhchitiet d-flex mb-4" style="margin-left: 2rem;">
                            <img class="thumb-img thumb1 mr-3" src="@Url.Content(p.Anh1)" class="img-fluid" alt="img">
                            <img class="thumb-img thumb2" src="@Url.Content(p.Anh2)" class="img-fluid" alt="img">
                            @if(p.Anh3 != null)
                            {
                                <img class="thumb-img thumb1 mr-3" src="@Url.Content(p.Anh3)" class="img-fluid" alt="img">
                            }
                            @if(p.Anh4 != null)
                            {
                                <img class="thumb-img thumb2" src="@Url.Content(p.Anh4)" class="img-fluid" alt="img">
                            }
                        </div>
                    </div>
                    <!-- thông tin sản phẩm: tên, giá bìa giá bán tiết kiệm, các khuyến mãi, nút chọn mua.... -->
                    <div class="col-md-7 khoithongtin">
                        <div class="row">
                            <div class="col-md-12 header">
                                <h4 class="ten">@p.TenSp</h4>
                                <div class="rate">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star "></i>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-7">
                                <div class="gia">
                                    <div class="giabia">Giá thị trường:<span class="giacu ml-2">@String.Format("{0:n0} đ ", p.Gia)</span></div>
                                    <div class="giaban">
                                        <span>Giá bán tại ShopCongNghe:</span>
                                        <div class="giamoi font-weight-bold">@String.Format("{0:n0} đ ", p.Gia - (p.Gia * p.KhuyenMai)/100)</div></div>
                                        <div class="tietkiem">Tiết kiệm: <b>@String.Format("{0:n0} đ ", (p.Gia * p.KhuyenMai)/100)</b> <span class="sale">-20%</span>
                                        <div>Hiện còn: @NumberOfProductOfTheSameName</div>
                                    </div>
                                </div>
                                <div class="uudai my-3">
                                    <h6 class="header font-weight-bold">Khuyến mãi & Ưu đãi tại ShopCongNghe:</h6>
                                    <ul>
                                        <li><b>Miễn phí giao hàng </b>cho đơn hàng từ 150.000đ ở TP.HCM và 300.000đ ở
                                            Tỉnh/Thành khác <a href="#">>> Chi tiết</a></li>
                                        <li><b>Sản phẩm - GIẢM 25% </b><a href="#">>>Xem ngay</a></li>
                                        <li>Tặng mã quà tặng trong mỗi đơn hàng</li>
                                    </ul>
                                </div>
                                <form method="post" action="~/Cart/Validate" id="myForm">
                                    <input type="hidden" name="name" value="@p.TenSp" />
                                    <div class="soluong d-flex">
                                    <label class="font-weight-bold">Số lượng: </label>
                                    <div class="input-number input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text btn-spin btn-dec">-</span>
                                        </div>
                                        <input type="text" name="amount" value="1" class="soluongsp  text-center">
                                        <div class="input-group-append">
                                            <span class="input-group-text btn-spin btn-inc">+</span>
                                        </div>
                                    </div>
                                    </div>
                                    <label class="font-weight-bold">Chọn màu: </label><br />
                                    <div class="row">
                                        @foreach(string color in listColor)
                                        {
                                            <div class="col-3">
                                                <input type="radio" id="color" name="color" class="color" value="@color">
                                                <label for="color">@color</label><br>
                                            </div>
                                        }
                                        <span id="spnError" class="error text-danger col-12 mb-2" style="display: none">Vui lòng chọn màu.</span>
                                    </div>
                                    <button type="button" class="nutmua btn w-100 text-uppercase" id="btnCart">Chọn mua</button>
                                </form>
                            </div>
                            <!-- thông tin khác của sản phẩm:  ....  -->
                            <div class="col-md-5">
                                <div class="thongtinsach">
                                    <ul>
                                        <li>Hãng: <a href="#" class="tacgia">@product.getNameProducer(p.MaNsx)</a></li>
                                        <li> <span>Ngày cập nhật:</span> @p.NgayCapNhat</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- decripstion của 1 sản phẩm: giới thiệu , đánh giá độc giả  -->
                    <div class="product-description col-md-9">
                        <!-- 2 tab ở trên  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active text-uppercase" id="nav-gioithieu-tab"
                                    data-toggle="tab" href="#nav-gioithieu" role="tab" aria-controls="nav-gioithieu"
                                    aria-selected="true">Giới thiệu</a>
                                <a class="nav-item nav-link text-uppercase" id="nav-danhgia-tab" data-toggle="tab"
                                    href="#nav-danhgia" role="tab" aria-controls="nav-danhgia"
                                    aria-selected="false">Đánh
                                    giá của độc giả</a>
                            </div>
                        </nav>
                        <!-- nội dung của từng tab  -->
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active ml-3" id="nav-gioithieu" role="tabpanel"
                                aria-labelledby="nav-gioithieu-tab">
                                <h6 class="tieude font-weight-bold">@p.TenSp</h6>
                                @if(p.ChiTiet != null)
                                {
                                    <p>@p.ChiTiet</p>
                                }
                            </div>
                            <div class="tab-pane fade" id="nav-danhgia" role="tabpanel" aria-labelledby="nav-danhgia-tab">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <p class="tieude">Đánh giá trung bình</p>
                                        <div class="diem">0/5</div>
                                        <div class="sao">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p class="sonhanxet text-muted">(0 nhận xét)</p>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="tiledanhgia text-center">
                                            <div class="motthanh d-flex align-items-center">5 <i class="fa fa-star"></i>
                                                <div class="progress mx-2">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div> 0%
                                            </div>
                                            <div class="motthanh d-flex align-items-center">4 <i class="fa fa-star"></i>
                                                <div class="progress mx-2">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div> 0%
                                            </div>
                                            <div class="motthanh d-flex align-items-center">3 <i class="fa fa-star"></i>
                                                <div class="progress mx-2">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div> 0%
                                            </div>
                                            <div class="motthanh d-flex align-items-center">2 <i class="fa fa-star"></i>
                                                <div class="progress mx-2">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div> 0%
                                            </div>
                                            <div class="motthanh d-flex align-items-center">1 <i class="fa fa-star"></i>
                                                <div class="progress mx-2">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div> 0%
                                            </div>
                                            <div class="btn vietdanhgia mt-3">Viết đánh giá của bạn</div>
                                        </div>
                                        <!-- nội dung của form đánh giá  -->
                                        <div class="formdanhgia">
                                            <h6 class="tieude text-uppercase">GỬI ĐÁNH GIÁ CỦA BẠN</h6>
                                            <span class="danhgiacuaban">Đánh giá của bạn về sản phẩm này:</span>
                                            <div class="rating d-flex flex-row-reverse align-items-center justify-content-end">
                                                <input type="radio" name="star" id="star1"><label for="star1"></label>
                                                <input type="radio" name="star" id="star2"><label for="star2"></label>
                                                <input type="radio" name="star" id="star3"><label for="star3"></label>
                                                <input type="radio" name="star" id="star4"><label for="star4"></label>
                                                <input type="radio" name="star" id="star5"><label for="star5"></label>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="txtFullname w-100" placeholder="Mời bạn nhập tên(Bắt buộc)">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="txtEmail w-100" placeholder="Mời bạn nhập email(Bắt buộc)">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="txtComment w-100" placeholder="Đánh giá của bạn về sản phẩm này">
                                            </div>
                                            <div class="btn nutguibl">Gửi bình luận</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- het tab nav-danhgia  -->
                        </div>
                        <!-- het tab-content  -->
                    </div>
                    <!-- het product-description -->
                </div>
                <!-- het row  -->
            </div>
            <!-- het product-detail -->
        </div>
        <!-- het container  -->
    </section>
    <!-- het product-page -->

    <!-- khối sản phẩm tương tự -->
    <section class="_1khoi sachmoi">
        <div class="container">
            <div class="noidung bg-white" style=" width: 100%;">
                <div class="row">
                    <!--header-->
                    <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-light pt-4">
                        <h5 class="header text-uppercase" style="font-weight: 400;">Sản phẩm tương tự</h5>
                        <a href="sach-moi-tuyen-chon.html" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
                    </div>
                </div>
                <div class="khoisanpham" style="padding-bottom: 2rem;">
                    <!-- 1 sản phẩm -->
                @foreach(var item in similarProducts)
                {
                    <div class="card">
                        <a href="@Url.Action("Details", "Products", new {id = item.MaSp})" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"
                            data-placement="bottom" title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                            <img class="card-img-top anh" src="@Url.Content(item.Anh1)" alt="lap-ke-hoach-kinh-doanh-hieu-qua">
                            <div class="card-body noidungsp mt-3">
                                <h6 class="card-title ten">@item.TenSp</h6>
                                <small class="tacgia text-muted">@product.getNameProducer(item.MaNsx)</small>
                                <div class="gia d-flex align-items-baseline">
                                    <div class="giamoi">@String.Format("{0:n0} đ ", item.Gia - (item.Gia * item.KhuyenMai)/100)</div>
                                    <div class="sale">@String.Format("-{0}%", item.KhuyenMai)</div>
                                </div>
                                <div class="danhgia">
                                    <ul class="d-flex" style="list-style: none;">
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><span class="text-muted">0 nhận xét</span></li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                }

                </div>
            </div>
        </div>
    </section>

    <!-- khối sản phẩm ưa chuộng  -->
    <section class="_1khoi combohot mt-4">
        <div class="container">
            <div class="noidung bg-white" style=" width: 100%;">
                <div class="row">
                    <!--header-->
                    <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-light">
                        <h5 class="header text-uppercase" style="font-weight: 400;">Sản phẩm ưa chuộng</h5>
                        <a href="#" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
                    </div>
                </div>
                
                <div class="khoisanpham">
                    <!-- 1 sản phẩm -->
                    
                    @foreach(var item in PopularityProducts)
                    {
                        <div class="card">
                            <a href="~/Products/Details/@item.MaSp" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"
                                data-placement="bottom" title="san pham ua chuong">
                                <img class="card-img-top anh" src="@item.Anh1" alt="img">
                                <div class="card-body noidungsp mt-3">
                                    <h6 class="card-title ten">@item.TenSp</h6>
                                    <small class="tacgia text-muted">@product.getNameProducer(item.MaNsx)</small>
                                    <div class="gia d-flex align-items-baseline">
                                        <div class="giamoi">@String.Format("{0:n0} đ ", item.Gia - (item.Gia * item.KhuyenMai)/100)</div>
                                        <div class="sale">@String.Format("-{0}%", item.KhuyenMai)</div>
                                    </div>
                                    <div class="danhgia">
                                        <ul class="d-flex" style="list-style: none;">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><span class="text-muted">0 nhận xét</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>


<script type="text/javascript" src="~/js/Index.js"></script>
